<!-- <p>header works!</p> -->
<!-- <a
  href="javascript:void(0)"
  routerLink="/cart"
  routerLinkActive="router-link-active"
>
  Cart
</a> -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="flex-grow: 0;">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="javascrpi:void(0)" routerLink="/user-dashboard" routerLinkActive="router-link-active">Home</a>
           <a class="nav-link" href="javascript:void(0)" routerLink="/orders" routerLinkActive="router-link-active" (click)="fetchOrders()">View Orders</a>
          <a class="nav-link" href="javascript:void(0)" routerLink="/cart" routerLinkActive="router-link-active">Cart</a>
        </div>
      </div>
    </div>
  </nav>

